<!-- <footer class="bg-dark text-center text-white"> -->
<footer
  style="margin-top: -70px"
  class="text-center"
  [ngClass]="{
    'bg-dark text-white': !settingsService.colorWhite,
    'bg-light text-dark': settingsService.colorWhite
  }"
>
  <!-- Grid container -->
  <div class="container p-1 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        [ngClass]="{
          'bg-dark text-white btn-outline-light': !settingsService.colorWhite,
          'bg-light text-dark btn-outline-dark': settingsService.colorWhite
        }"
        mdbRipple
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        [ngClass]="{
          'bg-dark text-white btn-outline-light': !settingsService.colorWhite,
          'bg-light text-dark btn-outline-dark': settingsService.colorWhite
        }"
        mdbRipple
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        [ngClass]="{
          'bg-dark text-white btn-outline-light': !settingsService.colorWhite,
          'bg-light text-dark btn-outline-dark': settingsService.colorWhite
        }"
        mdbRipple
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        [ngClass]="{
          'bg-dark text-white btn-outline-light': !settingsService.colorWhite,
          'bg-light text-dark btn-outline-dark': settingsService.colorWhite
        }"
        mdbRipple
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        [ngClass]="{
          'bg-dark text-white btn-outline-light': !settingsService.colorWhite,
          'bg-light text-dark btn-outline-dark': settingsService.colorWhite
        }"
        mdbRipple
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a
        [ngClass]="{
          'bg-dark text-white btn-outline-light': !settingsService.colorWhite,
          'bg-light text-dark btn-outline-dark': settingsService.colorWhite
        }"
        mdbRipple
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div style="margin-top: 70px" class="text-center p-1">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >MDBootstrap.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
