<app-loader-component *ngIf="showSpinner"></app-loader-component>
<div *ngIf="species">
  <div
    [ngClass]="{
      'bg-dark text-white': !settingsService.colorWhite,
      'bg-light text-dark': settingsService.colorWhite
    }"
    class="person-card"
  >
    <div class="person-title">Star Wars Type</div>
    <div class="person-item">
      <span>Name:</span> {{ species.properties.name }}
    </div>
    <div class="person-item"><span>Species Id:</span> {{ species.uid }}</div>
    <div class="person-item">
      <span>Average height:</span> {{ species.properties.average_height }} cm
    </div>
    <div class="person-item">
      <span>Average lifespan:</span>
      {{ species.properties.average_lifespan }} years
    </div>
    <div class="person-item">
      <span>Language:</span> {{ species.properties.language }}
    </div>
    <div class="person-item">
      <span>Classification:</span> {{ species.properties.classification }}
    </div>

    <div class="person-item">
      <span>Designation:</span> {{ species.properties.designation }}
    </div>

    <div class="person-item">
      <span>Skin colors:</span> {{ species.properties.skin_colors }}
    </div>
    <div class="person-item">
      <span>Hair colors:</span> {{ species.properties.hair_colors }}
    </div>
    <div class="person-item">
      <span>Eye colors:</span> {{ species.properties.eye_colors }}
    </div>
    <div class="person-item">
      <span>Created:</span>
      {{ species.properties.created | date : "mediumDate" }}
    </div>
    <div class="person-item">
      <span>Edited:</span> {{ species.properties.edited | date : "mediumDate" }}
    </div>
  </div>
</div>
