<app-loader-component *ngIf="showSpinner"></app-loader-component>
<div *ngIf="species">
  <div
    [ngClass]="{
      'bg-dark text-white': !settingsService.colorWhite,
      'bg-light text-dark': settingsService.colorWhite
    }"
    class="person-card"
  >
    <div class="person-title">Star Wars Type</div>
    <div class="person-item">Id: {{ species.uid }}</div>
    <div class="person-item">Name:</div>
    <div class="person-item">Average_height: {{ species.properties.average_height }}</div>
    <div class="person-item">
      Average_lifespan: {{ species.properties.average_lifespan }}
    </div>
    <div class="person-item">Classification: {{ species.properties.classification }}</div>
    <div class="person-item">Created: {{ species.properties.created }}</div>
    <div class="person-item">Designation: {{ species.properties.designation }}</div>
    <div class="person-item">Edited: {{ species.properties.edited }}</div>
    <div class="person-item">Eye_colors: {{ species.properties.eye_colors }}</div>
    <div class="person-item">Hair_colors: {{ species.properties.hair_colors }}</div>
    <div class="person-item">Homeworld: {{ species.properties.homeworld }}</div>
    <div class="person-item">Language: {{ species.properties.language }}</div>
    <div class="person-item">People: {{ species.properties.people }}</div>
    <div class="person-item">Films: {{ species.properties.films }}</div>
    <div class="person-item">Skin_colors: {{ species.properties.skin_colors }}</div>
    <div class="person-item">Url: {{ species.properties.url }}</div>
  </div>
</div>
