<app-loader-component *ngIf="showSpinner"></app-loader-component>
<div *ngIf="starship">
  <div
    [ngClass]="{
      'bg-dark text-white': !settingsService.colorWhite,
      'bg-light text-dark': settingsService.colorWhite
    }"
    class="person-card"
  >
    <div class="person-title">Star Wars Starship</div>
    <!-- <div class="person-item">Description: {{ starship.description }}</div> -->
    <div class="person-item">
      <span>Name:</span> {{ starship.properties.name }}
    </div>
    <div class="person-item">
      <span>Model:</span> {{ starship.properties.model }}
    </div>
    <div class="person-item">
      <span>Starship class:</span> {{ starship.properties.starship_class }}
    </div>
    <div class="person-item">
      <span>Starship Id: {{ starship.uid }}</span>
    </div>
    <div class="person-item">
      <span>Crew:</span> {{ starship.properties.crew }} characters
    </div>
    <div class="person-item">
      <span>Passengers:</span> {{ starship.properties.passengers }} characters
    </div>
    <div class="person-item">
      <span>MGLT:</span> {{ starship.properties.MGLT }}
    </div>
    <div class="person-item">
      <span>Max atmosphering speed:</span>
      {{ starship.properties.max_atmosphering_speed }} km/h
    </div>
    <div class="person-item">
      <span>Length:</span> {{ starship.properties.length }} metres
    </div>

    <div class="person-item">
      <span>Cost in credits:</span> {{ starship.properties.cost_in_credits }}
    </div>
    <div class="person-item">
      <span>Cargo capacity:</span>
      {{ starship.properties.cargo_capacity | number }} kg
    </div>
    <div class="person-item">
      <span>Consumables:</span> {{ starship.properties.consumables }}
    </div>
    <div class="person-item">
      <span>Hyperdrive rating:</span>
      {{ starship.properties.hyperdrive_rating }}
    </div>

    <div class="person-item">
      <span>Manufacturer:</span> {{ starship.properties.manufacturer }}
    </div>

    <div class="person-item">
      <span>Created:</span>
      {{ starship.properties.created | date : "mediumDate" }}
    </div>
    <div class="person-item">
      <span>Edited:</span>
      {{ starship.properties.edited | date : "mediumDate" }}
    </div>
  </div>
</div>
