<app-loader-component *ngIf="showSpinner"></app-loader-component>
<div *ngIf="starship">
  <div
    [ngClass]="{
      'bg-dark text-white': !settingsService.colorWhite,
      'bg-light text-dark': settingsService.colorWhite
    }"
    class="person-card"
  >
    <div class="person-title">Star Wars Starship</div>
    <div class="person-item">Description: {{ starship.description }}</div>
    <div class="person-item">Id: {{ starship.uid }}</div>
    <div class="person-item">Name: {{ starship.properties.name }}</div>
    <div class="person-item">MGLT: {{ starship.properties.MGLT }}</div>
    <div class="person-item">
      Cargo_capacity: {{ starship.properties.cargo_capacity }}
    </div>
    <div class="person-item">
      Consumables: {{ starship.properties.consumables }}
    </div>
    <div class="person-item">
      Cost_in_credits: {{ starship.properties.cost_in_credits }}
    </div>
    <div class="person-item">Created: {{ starship.properties.created }}</div>
    <div class="person-item">Crew: {{ starship.properties.crew }}</div>
    <div class="person-item">Edited: {{ starship.properties.edited }}</div>
    <div class="person-item">
      Hyperdrive_rating : {{ starship.properties.hyperdrive_rating }}
    </div>
    <div class="person-item">Length: {{ starship.properties.length }}</div>
    <div class="person-item">
      Manufacturer: {{ starship.properties.manufacturer }}
    </div>
    <div class="person-item">
      Max_atmosphering_speed: {{ starship.properties.max_atmosphering_speed }}
    </div>
    <div class="person-item">Model: {{ starship.properties.model }}</div>
    <div class="person-item">
      Passengers: {{ starship.properties.passengers }}
    </div>
    <!-- <div class="person-item">Pilots: {{ starship.properties.pilots }}</div> -->
    <div class="person-item">
      Starship_class: {{ starship.properties.starship_class }}
    </div>
    <!-- <div class="person-item">Url: {{ starship.properties.url }}</div> -->
  </div>
</div>
