:host {
  display: block;
}

.visibleMenu {
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 90%;
  color: white;
}
@media (min-width: 991px) {
  .visibleMenu {
    display: none;
  }
}

a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  //wole bez ingerit - podkreśla na niebiesko
}

a {
  text-decoration: none;
  color: inherit;
}

#Top {
  width: 50%;
}

// #myButton {
//   background-image: url("/src/img/babyJoda.png");
//   background-size: cover;
//   background-position: center;
// }
