<audio
  preload="auto"
  autoplay
  id="myAudio"
  src="/assets/sounds/StarWars.mp3"
></audio>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="yoda">
        <img src="../../../assets/img/typNumer1.png" alt="BabyYoda" />
      </div>
    </a>

    <button
      id="myButton"
      (click)="menuVisible = !menuVisible"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- HAMBURGER MENU -->
    <div class="visibleMenu" *ngIf="menuVisible">
      <li
        *ngFor="let item of menuItems"
        menuVisible="false"
        class="nav-item p-2 bd-highlight"
      >
        <a
          class="nav-link"
          [routerLink]="item.path"
          routerLinkActive="selected"
          aria-current="page"
        >
          {{ item.text }}
        </a>
      </li>
    </div>

    <!-- GÓRNE (GŁÓWNE) MENU -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li *ngFor="let item of menuItems" class="nav-item">
          <a
            [ngClass]="{
              'bg-dark text-white': !settingsService.colorWhite,
              'bg-light text-dark': settingsService.colorWhite
            }"
            class="nav-link"
            [routerLink]="item.path"
            routerLinkActive="selected"
            aria-current="page"
          >
            {{ item.text }}
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          [ngClass]="{
            'bg-dark text-light btn-outline-light': !settingsService.colorWhite,
            'bg-light text-dark btn-outline-dark': settingsService.colorWhite
          }"
          class="form-control me-2"
          id="top"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          text-dark
          btn-outline-dark
          class="btn btn-outline-secondary"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
