:host {
  display: block;
}

$lightsaber-color: #00bfff;

//yoda zmiana styli
.bg-light {
  .yoda {
    filter: invert(100%);
  }
}

//sun zmiana styli
.bg-white {
  #sun {
    filter: invert(100%);
  }
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: white;
}

.navbar-nav {
  a {
    transition: none;

    &.selected {
      color: $lightsaber-color !important;
    }
    &:hover,
    &:focus {
      color: $lightsaber-color !important;
    }
  }
}

.visibleMenu {
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 90%;
  color: white;
  .navbar-nav {
    a {
      transition: none;

      &.selected {
        color: $lightsaber-color !important;
      }
      &:hover,
      &:focus {
        color: $lightsaber-color !important;
      }
    }
  }
}

.bg-white {
  .visibleMenu {
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 90%;
    color: black;
  }
  .navbar-nav {
    a {
      transition: none;

      &.selected {
        color: $lightsaber-color !important;
      }
      &:hover,
      &:focus {
        color: $lightsaber-color !important;
      }
    }
  }
}

//hamburger menu zmiana styli
.bg-white {
  #myButton {
    filter: invert(100%);
  }

  .visibleMenu {
    .nav-item a {
      color: black;
    }
  }
}

@media (min-width: 992px) {
  .visibleMenu {
    display: none;
  }
}

a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  &.selected {
    color: $lightsaber-color !important;
  }
  &:hover,
  &:focus {
    color: $lightsaber-color !important;
  }
}
