:host {
  display: block;
}

// .yoda {
//   position: absolute;
//   right: 0;
// }
//variables:
$lightsaber-color: #00bfff;

.bg-light {
  .yoda {
    filter: invert(100%)
  }
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: white;
}

.navbar-nav {
  a {
    transition: none;

    &.selected {
      color: $lightsaber-color !important;
    }
    &:hover,
    &:focus {
      color: $lightsaber-color !important;
    }
  }
}

// .navbar-nav {
//   .nav-link {
//     a {
//       // margin-right: 80px; /* zwiększa odstęp między pozycjami */
//       &.active {
//         color: $lightsaber-color;
//       }
//       &:hover,
//       &:focus {
//         color: $lightsaber-color;
//       }
//     }
//   }
// }

.visibleMenu {
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 90%;
  color: white;
}

.bg-white {
  #myButton {
    filter: invert(1);
  }

  .visibleMenu {
    .nav-item a {
      color: black;
    }
  }
}

@media (min-width: 992px) {
  .visibleMenu {
    display: none;
  }
}

a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  //wole bez ingerit - podkreśla na niebiesko
}

a {
  text-decoration: none;
  color: inherit;
}

//do kasacji
// #Top {
//   width: 50%;
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   margin-bottom: 10px;
// }
