:host {
  display: block;
}
//variables:
$lightsaber-color: #00bfff;
$bgDark: #111213;
$goldTitle: #fdb813;

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: white;
}

.navbar-nav {
  .nav-link {
    color: white;
    &:active {
      color: $lightsaber-color;
    }
    &:hover,
    &:focus {
      color: $lightsaber-color;
    }
  }
}

.menuVisible {
  color: red;
}

.visibleMenu {
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 90%;
  color: white;
}
@media (min-width: 991px) {
  .visibleMenu {
    display: none;
  }
}

a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  //wole bez ingerit - podkreśla na niebiesko
}

a {
  text-decoration: none;
  color: inherit;
}

#Top {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

// NIE DZIALA ? PEWNIE CO NADPISUJE nie widać ich
// .navbar-toggler:hover {
//   color: #00bfff;
//   border-color: #00bfff;
//   box-shadow: 0 0 10px #00bfff;
// }
// .navbar-toggler span::before,
// .navbar-toggler span::after {
//   background-color: #00bfff;
// }

// .navbar-toggler:active {
//   color: #00bfff;
//   border-color: #00bfff;
//   box-shadow: 0 0 10px #00bfff;
// }
