<audio preload id="myAudio" src="/assets/sounds/StarWars.mp3"></audio>
<audio #audio src="/assets/sounds/lightsabre.mp3"></audio>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <!-- <div (click)="settingsService.soundOn = !settingsService.soundOn"></div>
  {{ settingsService.soundOn }} -->

  <div class="container-fluid bg-dark">
    <a class="navbar-brand" href="#"
      ><img src="assets/img/babyJodaWhite.png" alt="BabyYoda"
    /></a>
    <button
      id="myButton"
      (click)="menuVisible = !menuVisible"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="visibleMenu" *ngIf="menuVisible">
      <li
        *ngFor="let item of menuItems"
        (click)="playSound(); menuVisible = false"
        class="nav-item p-2 bd-highlight"
      >
        <a
          class="nav-link"
          [routerLink]="item.path"
          routerLinkActive="active"
          aria-current="page"
        >
          {{ item.text }}
        </a>
      </li>
      <form class="d-flex" id="Top">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>

    <!-- górne menu -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li
          *ngFor="let item of menuItems"
          (click)="playSound()"
          class="nav-item"
        >
          <a
            class="nav-link"
            [routerLink]="item.path"
            routerLinkActive="active"
            aria-current="page"
          >
            {{ item.text }}
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          id="top"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
