<div *ngIf="!started" class="start">
  <button (click)="start()">Start</button>
</div>
<div *ngIf="started" class="intro" (click)="end()">
  <div class="fade"></div>
  <section class="star-wars">
    <div class="crawl" id="crawl">
      <div class="title">
        <!-- <p>Episode IV</p>
        <h1>A New Hope</h1> -->
      </div>

      <p>A long time ago in a galaxy far, far away...</p>

      <p>A person who wanted to become a programmer was born.</p>

      <p>
        During this mission, he encountered several difficulties - but he did
        not give up and did not turn to the dark side of the force. One of the
        problems was the lack of identifiers in the API he was using. When he
        managed to extract the identifier from the links in the API interfaces
        using a regular expression, the website stopped working. This required
        rebuilding the code and interfaces for the new API. The new API included
        identifiers, which ultimately made it easier to resorte the website to
        proper operaction.
      </p>

      <p>
        Entering the path of programming, he began his adventure with courses
        (tutaj wymienić kursy) - but felt that it was not enough. He started
        learning under the guidance of his mentor - a programmer with knowledge
        and experience, whom he aspired to become. After some time, he decided
        to create his first website using the knowledge he gained, utilizing
        technologies such as Angular, Typescript, and ngx-bootstrap. His goal
        was to create a responsive website that would make use of an API.
        working. This required rebuilding the code and interfaces for the new
        API. The new API included identifiers, which ultimately made it easier
        to restore the website to proper operation.
      </p>

      <p>
        Despite the time he dedicated and the difficulties he overcame, he knew
        it was only the beginning. He knew that there was a long second path of
        mastering the Programming Force ahead of him - so he set out on a
        journey in search of further mentors.
      </p>
    </div>
  </section>
</div>
