$lightsaber-color: #00bfff;
:host {
  display: block;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  text-align: center;
  color: white; //kolor tekstu domyślny
  &:hover {
    color: $lightsaber-color; //kolor tekstu po najechaniu na blok
  }
  //nie działa
  .active {
    color: $lightsaber-color;
  }
}
