<div *ngIf="settingsService">
  <div>
    <a class="fw-bold star-wars-h2" href="#">
      <span
        ><h2
          [ngClass]="
            settingsService.colorWhite
              ? 'text-black border-black:'
              : 'text-white border-white '
          "
        >
          WORLD OF
          <span class="inline-text" id="starWars">STAR WARS</span>
        </h2></span
      >
    </a>
  </div>
  <div class="topRight" (click)="settingsService.toggleColor()">
    <img
      id="sun"
      src="../../../assets/img/baseline_light_mode_white_24dp.png"
      alt="Sun"
    />
  </div>
</div>
