:host {
  display: block;
}

//variables
$bgDark: #111213;
$lightsaber-color: #00bfff;
$whiteTitle: white;
// $goldTitle: #fdb813;

a {
  text-decoration: none;
  // color: inherit;
}
.star-wars-h2 {
  text-shadow: -2px 2px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000;
  color: #fff;
  // &:active {
  //   color: #000;
  // }
  // &:hover,
  // &:focus {
  //   text-decoration: none;
  //   color: inherit;
  //   color: #000;
  // }
}
