<div *ngIf="settingsService">
  <div
    [ngClass]="{
      'bg-dark text-white': !settingsService.colorWhite,
      'bg-light text-dark': settingsService.colorWhite
    }"
  >
    <a class="fw-bold star-wars-h2" href="#">
      <h2
        [ngClass]="
          settingsService.colorWhite
            ? 'text-black border-black'
            : 'text-white border-white'
        "
      >
        WORLD OF STAR WARS
      </h2>
    </a>
    <!-- <button class="btn btn-primary" (click)="settingsService.toggleColor()">
      Zmień kolor
    </button> -->
  </div>
</div>
