//variables
$bgDark: #111213;
$lightsaber-color: #00bfff;
$whiteTitle: white;

:host {
  display: block;
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
  // padding: 10px;
  padding-right: 10px;
  background-color: transparent;
  z-index: 9999;
}

#sun {
  width: 15px;
  height: 15px;
}

.bg-light #sun {
  width: 15px;
  height: 15px;
  filter: invert(100%);
}

// $goldTitle: #fdb813;

// a {
//   text-decoration: none;
//   // color: inherit;
// }
.star-wars-h2 {
  text-shadow: -2px 2px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000;
  color: #fff;
  justify-content: center;
  text-align: center;
}

.bg-white {
  .star-wars-h2 {
    text-shadow: -2px 2px #fff, 2px 2px #fff, -2px -2px #fff, 2px -2px #fff;
    // background: black;
    justify-content: center;
    text-align: center;
  }
}
