<div *ngIf="settingsService">
  <div
    [ngClass]="{
      'bg-dark text-white': !settingsService.colorWhite,
      'bg-light text-dark': settingsService.colorWhite
    }"
    style="background-color: rgba(189, 73, 77, 0.05)"
  >
    <a class="fw-bold star-wars-h2" href="#">
      <h2
        [ngClass]="
          settingsService.colorWhite
            ? 'text-black border-black'
            : 'text-white border-white'
        "
      >
        WORLD OF STAR WARS
      </h2>
    </a>
    <button class="btn btn-primary" (click)="settingsService.toggleColor()">
      Zmień kolor
    </button>
  </div>
</div>

<!-- //////////////////////////// -->
<!-- <div
  [ngClass]="{
    'bg-dark text-white': !settingsService.colorWhite,
    'bg-light text-dark': settingsService.colorWhite
  }"
  style="background-color: rgba(189, 73, 77, 0.05)"
>
  <a class="fw-bold star-wars-h2" href="#"><h2>WORLD OF STAR WARS</h2></a>
  <button class="btn btn-primary" (click)="settingsService.toggleColor()">
    Zmień kolor
  </button>
</div> -->

<!-- <div
  class="bg-dark text-center p-1"
  style="background-color: rgba(189, 73, 77, 0.05)"
>
  <a class="fw-bold star-wars-h2" href="#"><h2>WORLD OF STAR WARS</h2></a>
</div> -->
