<div
  [ngClass]="{
    'bg-dark text-white': !settingsService.colorWhite,
    'bg-light text-dark': settingsService.colorWhite
  }"
  class="bg-dark"
>
  A long time ago in a galaxy far, far away... A person who wanted to become a
  programmer was born. So he started his adventure with programming courses and
  learning with a mentor. Some time later, he created his first website using
  technologies such as angular, typescrit, ngx-bootsrap this website was
  responsive and used API. I ran into a few problems while programming. One of
  the problems was the lack of IDs in the API I was using. When I was able to
  extract the ID from the links from the APIs using regex, then the site stopped
  working. I had to rebuild the code and interfaces for new APIs. Fortunately,
  the new API included IDs, which in the long run made it easier for me to
  restore the website to a properly working one again.
</div>
