<div
  [ngClass]="{
    'bg-dark text-white': !settingsService.colorWhite,
    'bg-light text-dark': settingsService.colorWhite
  }"
  class="bg-dark"
>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores unde illum
  inventore facilis mollitia odit ratione sequi adipisci placeat, odio
  laboriosam, sunt consequatur dignissimos suscipit nam blanditiis ut sit
  excepturi expedita ullam rerum neque laudantium sed nemo. Fugit in,
  repudiandae molestiae molestias aliquam amet fugiat, nesciunt earum atque a
  blanditiis soluta enim iure aut! Eveniet quasi rem minus quae vel, sunt
  aperiam id velit inventore harum cumque sequi atque! Error exercitationem eum
  consectetur. Incidunt id iusto distinctio repudiandae assumenda aliquam,
  dolorum iure possimus adipisci architecto dicta praesentium libero ducimus
  porro non sint asperiores. Perferendis corrupti at ab maxime iure asperiores!
</div>
