:host {
  display: block;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .bg-light {
//   .lightSabres {
//     filter: invert(100%);
//   }
// }

// img {
//   .lightSabres {
//     width: 100px;
//   }
// }
