<app-loader-component *ngIf="showSpinner"></app-loader-component>
<div *ngIf="film">
  <div
    [ngClass]="{
      'bg-dark text-white': !settingsService.colorWhite,
      'bg-light text-dark': settingsService.colorWhite
    }"
    class="person-card"
  >
    <div class="person-title">Star Wars Film</div>
    <div class="person-item">
      <span>Title:</span> {{ film.properties.title }}
    </div>
    <div class="person-item">
      <span>Release date:</span> {{ film.properties.release_date }}
    </div>
    <div class="person-item">
      <span>Producer:</span> {{ film.properties.producer }}
    </div>
    <!-- <div class="person-item">Characters: {{ film.properties.characters }}</div> -->
    <div class="person-item">
      <span>Created:</span> {{ film.properties.created | date : "mediumDate" }}
    </div>
    <div class="person-item">
      <span>Director:</span> {{ film.properties.director }}
    </div>
    <div class="person-item">
      <span>Episode Id:</span> {{ film.properties.episode_id }}
    </div>
    <div class="person-item"><span>Real Id:</span> {{ film.uid }}</div>
    <div class="person-item">
      <span>Edited:</span> {{ film.properties.edited | date : "mediumDate" }}
    </div>
    <div class="person-item">
      <span>Opening crawl:</span> {{ film.properties.opening_crawl }}
    </div>
  </div>
</div>
