<div *ngIf="person">
  <div class="person">Name: {{ person.name }}</div>
  <div class="person">Url: {{ person.url }}</div>
  <div class="person">Films: {{ person.films }}</div>
  <div class="person">Height: {{ person.height }}</div>
  <div class="person">Mass: {{ person.mass }}</div>
  <div class="person">Hair Color: {{ person.hair_color }}</div>
  <div class="person">Skin Color: {{ person.skin_color }}</div>
  <div class="person">Eye Color: {{ person.eye_color }}</div>
  <div class="person">Birth Year: {{ person.birth_year }}</div>
  <div class="person">Gender: {{ person.gender }}</div>
  <div class="person">Homeworld: {{ person.homeworld }}</div>
  <div class="person">Species: {{ person.species }}</div>
  <div class="person">Vehicles: {{ person.vehicles }}</div>
  <div class="person">Starships: {{ person.starships }}</div>
  <div class="person">Created: {{ person.created }}</div>
  <div class="person">Edited: {{ person.edited }}</div>
</div>
>
