// :host {
//   display: block;
// }

// stylowanie drugie na górze strony
html,
body,
app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.loading-icon {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .icon {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    //bez animacji jest chyba ok@@@@@@@@@@@
    animation: spin 1s linear infinite;

    position: absolute; /* ustaw pozycjonowanie absolutne */
    top: 50%; /* ustaw górną krawędź elementu na środku strony */
    left: 50%; /* ustaw lewą krawędź elementu na środku strony */
    transform: translate(
      -50%,
      -50%
    ); /* przesuń element w lewo i w górę o połowę jego własnej szerokości i wysokości */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

//stylowanie numer 3
// html,
// body,
// app-root {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .loading-icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .icon {
//     border: 4px solid #f3f3f3;
//     border-top: 4px solid #3498db;
//     border-radius: 50%;
//     width: 50px;
//     height: 50px;
//     animation: spin 1s linear infinite;
//   }

//   @keyframes spin {
//     0% {
//       transform: rotate(0deg);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
//   }
// }

/////////////////////////////////////////////////
//pierwsze stylowanie poniżej środka
// .loading-icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;

//   .icon {
//     border: 4px solid #f3f3f3;
//     border-top: 4px solid #3498db;
//     border-radius: 50%;
//     width: 50px;
//     height: 50px;
//     animation: spin 1s linear infinite;
//   }

//   @keyframes spin {
//     0% {
//       transform: rotate(0deg);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
//   }
// }
