<div *ngIf="vehicles">
  <div class="person-card">
    <div class="person-title">Star Wars Vehicle</div>
    <div class="person-item">Id : {{ vehicles.id }}</div>
    <div class="person-item">Name : {{ vehicles.name }}</div>
    <div class="person-item">
      Cargo_capacity : {{ vehicles.cargo_capacity }}
    </div>
    <div class="person-item">Consumables : {{ vehicles.consumables }}</div>
    <div class="person-item">
      Cost_in_credits : {{ vehicles.cost_in_credits }}
    </div>
    <div class="person-item">Created : {{ vehicles.created }}</div>

    <div class="person-item">Crew : {{ vehicles.crew }}</div>
    <div class="person-item">Edited : {{ vehicles.edited }}</div>
    <div class="person-item">Length : {{ vehicles.length }}</div>
    <div class="person-item">Manufacturer : {{ vehicles.manufacturer }}</div>
    <div class="person-item">
      Max_atmosphering_speed : {{ vehicles.max_atmosphering_speed }}
    </div>
    <div class="person-item">Model : {{ vehicles.model }}</div>
    <div class="person-item">Passengers : {{ vehicles.passengers }}</div>
    <div class="person-item">Pilots : {{ vehicles.pilots }}</div>
    <div class="person-item">Films : {{ vehicles.films }}</div>
    <div class="person-item">Url : {{ vehicles.url }}</div>
    <div class="person-item">Vehicle_class : {{ vehicles.vehicle_class }}</div>
  </div>
</div>
