$lightsaber-color: #00bfff;
:host {
  display: block;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  text-align: center;
  color: white;
  &:hover {
    color: $lightsaber-color;
  }
}
