<app-loader-component *ngIf="showSpinner"></app-loader-component>
<div *ngIf="person">
  <div class="person-card">
    <div class="person-title">Star Wars Character</div>
    <div class="person-item">Name: {{ person.properties.name }}</div>
    <!-- <div class="person-item">Name: {{ person.name }}</div> -->
    <!-- <div class="person-item">Url: {{ person.url }}</div>
    <div class="person-item">Films: {{ person.films }}</div>
    <div class="person-item">Height: {{ person.height }}</div>
    <div class="person-item">Mass: {{ person.mass }}</div>
    <div class="person-item">Hair Color: {{ person.hair_color }}</div>
    <div class="person-item">Skin Color: {{ person.skin_color }}</div>
    <div class="person-item">Eye Color: {{ person.eye_color }}</div>
    <div class="person-item">Birth Year: {{ person.birth_year }}</div>
    <div class="person-item">Gender: {{ person.gender }}</div>
    <div class="person-item">Homeworld: {{ person.homeworld }}</div>
    <div class="person-item">Species: {{ person.species }}</div>
    <div class="person-item">Vehicles: {{ person.vehicles }}</div>
    <div class="person-item">Starships: {{ person.starships }}</div>
    <div class="person-item">Created: {{ person.created }}</div>
    <div class="person-item">Edited: {{ person.edited }}</div> -->
  </div>
</div>
