<app-loader-component *ngIf="showSpinner"></app-loader-component>
<div
  [ngClass]="{
    'bg-dark text-white': !settingsService.colorWhite,
    'bg-light text-dark': settingsService.colorWhite
  }"
  *ngIf="person"
>
  <div class="person-card">
    <div class="person-title">Star Wars Character</div>

    <div class="person-item">Name: {{ person.properties.name }}</div>
    <div class="person-item">Character Id: {{ person.uid }}</div>
    <!-- <div class="person-item">Url: {{ person.properties.url }}</div> -->
    <div class="person-item">Height: {{ person.properties.height }}</div>
    <div class="person-item">Mass: {{ person.properties.mass }}</div>
    <div class="person-item">
      Hair Color: {{ person.properties.hair_color }}
    </div>
    <div class="person-item">
      Skin Color: {{ person.properties.skin_color }}
    </div>
    <div class="person-item">Eye Color: {{ person.properties.eye_color }}</div>
    <div class="person-item">
      Birth Year: {{ person.properties.birth_year }}
    </div>
    <div class="person-item">Gender: {{ person.properties.gender }}</div>
    <!-- <div class="person-item">Homeworld: {{ person.properties.homeworld }}</div> -->
    <div class="person-item">Created: {{ person.properties.created }}</div>
    <div class="person-item">Edited: {{ person.properties.edited }}</div>
  </div>
</div>
