<app-loader-component *ngIf="showSpinner"></app-loader-component>
<div *ngIf="planet">
  <div
    [ngClass]="{
      'bg-dark text-white': !settingsService.colorWhite,
      'bg-light text-dark': settingsService.colorWhite
    }"
    class="person-card"
  >
    <div class="person-title">Star Wars Planet</div>
    <div class="person-item">Id: {{ planet.uid }}</div>
    <div class="person-item">Name: {{ planet.properties.name }}</div>
    <div class="person-item">Url: {{ planet.properties.url }}</div>
    <div class="person-item">Climate: {{ planet.properties.climate }}</div>
    <div class="person-item">Created: {{ planet.properties.created }}</div>
    <div class="person-item">Diametr: {{ planet.properties.diameter }}</div>
    <div class="person-item">Edited: {{ planet.properties.edited }}</div>
    <div class="person-item">Films: {{ planet.properties.films }}</div>
    <div class="person-item">Gravity: {{ planet.properties.gravity }}</div>
    <div class="person-item">
      Orbital period: {{ planet.properties.orbital_period }}
    </div>
    <div class="person-item">
      Population: {{ planet.properties.population }}
    </div>
    <div class="person-item">Residents: {{ planet.properties.population }}</div>
    <div class="person-item">
      Rotation Period: {{ planet.properties.rotation_period }}
    </div>
    <div class="person-item">
      Surface Water: {{ planet.properties.surface_water }}
    </div>
    <div class="person-item">Terrain: {{ planet.properties.terrain }}</div>
  </div>
</div>
