<app-loader-component *ngIf="showSpinner"></app-loader-component>
<div *ngIf="planet">
  <div
    [ngClass]="{
      'bg-dark text-white': !settingsService.colorWhite,
      'bg-light text-dark': settingsService.colorWhite
    }"
    class="person-card"
  >
    <div class="person-title">Star Wars Planet</div>
    <div class="person-item">Name: {{ planet.properties.name }}</div>
    <div class="person-item">Planet Id: {{ planet.uid }}</div>

    <!-- <div class="person-item">Description: {{ planet.description }}</div> -->
    <!-- <div class="person-item">Url: {{ planet.properties.url }}</div> -->
    <div class="person-item">Climate: {{ planet.properties.climate }}</div>
    <div class="person-item">Terrain: {{ planet.properties.terrain }}</div>
    <div class="person-item">
      <div class="person-item">
        Rotation period: {{ planet.properties.rotation_period }} hours
      </div>
      <div class="person-item">
        Orbital period: {{ planet.properties.orbital_period }} years
      </div>
      <div class="person-item">
        Diametr: {{ planet.properties.diameter | number }} kilometers
      </div>

      <div class="person-item">Gravity: {{ planet.properties.gravity }}</div>

      <!-- <div class="person-item">
      Population: {{ planet.properties.population }}
    </div> -->
      <div class="person-item">
        Residents: {{ planet.properties.population | number }}
      </div>

      <div class="person-item">
        Surface water: {{ planet.properties.surface_water }}
      </div>
      <div class="person-item">Terrain: {{ planet.properties.terrain }}</div>
      <div class="person-item">
        Created: {{ planet.properties.created | date : "mediumDate" }}
      </div>
      <div class="person-item">
        Edited: {{ planet.properties.edited | date : "mediumDate" }}
      </div>
    </div>
  </div>
</div>
