//gray bg-dark #111213;
$bgDark: #111213;

$lightsaber-color: #00bfff;

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.bg-dark {
  color: white;
}

img {
  color: white;
}

/*BIG SCREENS XXL*/
@media (min-width: 1200px) {
  app-home-page {
    font-size: 18px;
    height: 1000px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
  app-footer {
    font-size: 18px;
  }
  .btn-floating {
    margin: 10 auto !important;
    width: 40px;
  }
}
/*DESKTOP XL*/
@media (min-width: 992px) and (max-width: 1199px) {
  app-home-page {
    font-size: 18px;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*TABLET*/
@media (min-width: 768px) and (max-width: 991px) {
  app-home-page {
    font-size: 16px;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-floating {
    margin: 10 auto !important;
    width: 40px;
  }
}

/*SMALL DEVICES*/
@media (min-width: 576px) and (max-width: 767px) {
  app-home-page {
    font-size: 14px;
    width: 550px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-floating {
    margin: 10 auto !important;
    width: 40px;
  }
}

/*SMALL DEVICES */
@media (min-width: 320px) and (max-width: 575px) {
  app-home-page {
    font-size: 14px;
    width: 320;
    height: 400;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-floating {
    margin: 10 auto !important;
    width: 40px;
  }
}

/*VERY SMALL DEVICES */
@media (min-width: 0px) and (max-width: 319px) {
  app-home-page {
    font-size: 10px;
    width: 300;
    height: 400;
    margin-left: auto;
    margin-right: auto;
  }
  // .btn-floating-container {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .btn-floating {
  //   display: block;
  //   margin: 10px;
  //   width: 50px;
  // }
  .btn-floating {
    margin: 10 auto !important;
    width: 40px;
  }

  // .visibleMenu {
  //   margin: 0px;
  //   padding: 0px;
  // }
  app-top-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    h1 {
      font-size: 24px;
    }
  }
}
