:host {
  display: block;
}

//variables
$bgDark: #111213;
$lightsaber-color: #00bfff;
$goldTitle: #fdb813;

a {
  text-decoration: none;
  // color: inherit;
}

.star-wars-h1 {
  text-shadow: -2px 2px black, 2px 2px black, -2px -2px black, 2px -2px black;
  // color: white;
  color: $goldTitle;
  &:active {
    color: $lightsaber-color;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
    color: $lightsaber-color;
  }
}
